In [4]:
with open("input/day3.txt") as f:
    text = f.read()

In [14]:
# match patterns like mul(1,2)
import re

def compute_mul(string: str) -> int:
    pattern = r"mul\((\d+),(\d+)\)"

    matches = re.findall(pattern, string)

    acc = 0
    for s1, s2 in matches:
        acc += int(s1) * int(s2)
    return acc

compute_mul(text)

167650499

# Part 2: Do and Dont

In [40]:
len(text)

17991

In [58]:
do_pattern = r"do\(\)"
dont_pattern = r"don't\(\)"

dos = list(re.finditer(do_pattern, text))
donts = list(re.finditer(dont_pattern, text))

inactive_areas = []
for match in donts:
    from_ = match.start()
    to_ = [m for m in dos if m.start() > from_][0].start()
    inactive_areas.append((from_, to_))

In [65]:
import pandas as pd
iadf = pd.DataFrame(inactive_areas, columns=["start", "end"])
# remove multiple donts()
iadf = iadf.groupby("end", as_index=False).agg({"start": "min"})[["start", "end"]]
iadf

    start    end
0     536    811
1    1092   1172
2    1693   1815
3    4317   4833
4    5320   5881
5    6784   7462
6    7545   7989
7    8294   8998
8    9154   9657
9   11006  11081
10  11584  11895
11  12325  12569
12  12843  13002
13  13216  13628
14  13886  14457
15  14806  15541
16  15645  16625
17  16816  16858
18  17100  17784

In [60]:
iadf.apply(lambda row: text[row["start"]:row["end"]], axis=1)

0     don't()where()mul(688,386)mul(798,885)+:&:)mul...
1     don't()>];~~mul(100,802)where()what()mul(675,4...
2     don't() *@!mul(767,135)+}~,how(){,)mul(727,699...
3     don't()@select()>~^$how()%}mul(262,794)who()/h...
4     don't()>*#-mul(379,986)!()]select(9,153)mul(94...
5     don't()~mul(235,731)~what()}<$^{(mul(816,163)?...
6     don't()-when()mul(287,875)who()>*^who()how()ho...
7     don't()</':select()select()&,select()^mul(335,...
8     don't():>>/;%^)mul(837,12)why()#[>@mul(180,108...
9     don't(),>:$-where()how()<mul(43,408)mul(527,35...
10    don't() $}]@mul(461,199)$'where()~:from()from(...
11    don't();how()@#from()/?@,mul(445,633)from()how...
12    don't()why()<>'}}why(){what()mul(717,303)how()...
13    don't()+$where()>$&from(16,716)}?mul(252,848)]...
14    don't()? [>*mul(345,156)< ?];^)>from()select(5...
15    don't()&where(){mul(587,419)'!don't()&where()'...
16    don't()() {from() ]]((mul(68,200)^?what()who()...
17           don't()!mul(165,206)mul(113,418)]from(),'&
18    don't()where()^{from()mul(804,392)${<}!mul(392...
dtype: object

In [74]:
aadf = pd.DataFrame({"start": [0] + iadf["end"].tolist(), "end": iadf["start"].tolist() + [len(text)]})
aadf

    start    end
0       0    536
1     811   1092
2    1172   1693
3    1815   4317
4    4833   5320
5    5881   6784
6    7462   7545
7    7989   8294
8    8998   9154
9    9657  11006
10  11081  11584
11  11895  12325
12  12569  12843
13  13002  13216
14  13628  13886
15  14457  14806
16  15541  15645
17  16625  16816
18  16858  17100
19  17784  17991

In [75]:
aaseries = aadf.apply(lambda row: text[row["start"]:row["end"]], axis=1)
aaseries

0     ;({where()+'what()mul(445,324)#what()select()(...
1     do();mul(648,804))~where()who()mul(433,801)':h...
2     do()what()*]~;mul(873,971)//%mul(78,89)~'from(...
3     do()&~!;mul(247,653)-mul(828,136)when()select(...
4     do()~)'who()%mul(151,599)what() [where()%#mul(...
5     do()what()$what(536,484)*[]:$select()}mul(943,...
6     do()from()what();<}<mul(20,583),$),mul(770,783...
7     do()-}who()who()#how()>mul(882,623who()[)'[why...
8     do()[(^#mul(810,887)mul(127? ,+ !do()from()#wh...
9     do()from()mul(509,815)]&*who(487,114)?#who()(m...
10    do()]?*~/how()mul(60,36)}+~@where()^mul(95,237...
11    do()::~+}how())mul(454,304)who()%what()select(...
12    do();what()>@what()mul(254,522)select()how()'w...
13    do()~^--#'<@>>mul(354,115)~when()'what():from(...
14    do()&^<^from()#>why()-mul(527,726)!/select()%?...
15    do()#~+[what()when()^~/mul(203,659)when()[}sel...
16    do()mul(103,225) ~;;'why()*~mul(187,119)+/]mul...
17    do():)<select()~ mul(571,144){mul(931,78)mul(2...
18    do()select()/*:)]!mul(272,138) mul(211,851)]/$...
19    do()#>mul(53,112)!(what()/?do()(,how()%mul(523...
dtype: object

In [76]:
aaseries.apply(compute_mul).sum()

np.int64(95846796)